*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;
    
}