*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
     /*max-width: 1100px;*/
     /*width: 1600px;
     height: 92px;*/
    /*border: 1px solid red;
   margin: 0 auto;*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    margin: 0 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: #000000;
}
.b{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background:#30B868;
}

.banner-content{
   /* border: 1px solid red;*/
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 120px 134px 120px;
}
/*.banner-content h2{
    color:#30B868;
    font-style: Medium;
    font-size: 16px;
    line-height: 19px;
    /*border: 1px solid;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 12px;

    background-color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap:6px;
}*/
.status-badge{
    display: inline-flex;
    align-items: center;
    gap:6px;
    padding: 8px 12px;  
    background-color: #FFFFFF;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#30B868;
    

}
.dot{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background:#30B868;
}
.k{
    font-size: 72px;
    font-weight: 700px;
    font-style:Bold;
    line-height: 84px;
    color:#FFFFFF;
    margin-bottom: 16px;
} 
span{
    color:#30B868;
}
#banner{
    background-image: url(../assets/hero-bg.png); 
     background-repeat: no-repeat;
     background-size: cover;
     
}
.h{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.btn{
   display: flex;
   justify-content: center;
    gap:16px;
    align-items: center;
    /*border: 1px solid black;
    width: 465px;
    height: 52px;*/
   /* margin: 0 447.5px;*/
   margin: 0 auto;
    font-size: 16px;
    font-weight: 600px;
   line-height: auto;
}
.t{
    /*width: 189px;
    height: 19px;*/
    padding: 16.5px 16px;
    background-color: #30B868 ;
    color: #FFFFFF;
    font-style: bold;
    border-radius: 4px;
}
.n{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.l{
    padding: 16.5px  16px;
    font-style: bold;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: transparent;
    color:#FFFFFF;
    gap:16px;
}
.fa-solid{
margin-right: 16px;
}
#feature{
    padding-top: 80px;
}
.f-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.section-heading h2{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.f-info{
    display: flex;
   /* justify-content: space-between;*/
    gap: 24px;
}
.info-cards{
    /* border: 1px solid red;*/
     border-radius: 8px;
     box-shadow: 0 0 8px 0 rgba(0,0,0,0.06);
     background: #FFFFFF;
     width: 322px;
     /*height: 300px;*/
     margin: 0 auto;
     padding: 24px; 
     text-align: center;
}
.info-cards img{
    background: rgba(249, 85, 85, 1);
    padding: 14.04px 13.91px 13.96px 14.09px;
    border-radius: 50%;
    margin-bottom: 16px;
    margin-top: 69.5px;
}
.info-cards h2{
    font-style: Semi Bold;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color:#001931;
    margin-bottom: 16px ;
}
.info-cards p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 24px;
    margin-bottom: 21.5px;
    text-align: center;
}
#brain{
    padding: 120px;
}
.b-container{
    width: 85%;
    max-width: 1360px;
   /* border: 1px solid red;*/gi
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}
.b-image{
    max-width: 600px;
    border-radius: 12px;
}
.b-text{
    max-width: 700px;
    /*border: 1px solid blueviolet;*/
}
.b-text h2{
    color:#30B868;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.b-text h3{
    /*max-width: 700px;
    max-height: 116px;*/
    color:#001931;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.b-text p{
    color:#627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}
.b-text li{
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;

}
.icon-text{
    display: fleX;
    gap: 6px;
}